// Colors
$white: #fff;
$black: #000;
$lightGray: #d2d2d2;
$darkGray: #717171;

.bg-black{
    background-color: $black;
}
.bg-lightGray{
    background-color: $lightGray;
}
.bg-darkGray{
    background-color: $darkGray;
}
